
<div class="get-article-btn">
    <form action="/get-articles" method="get">
        <button type="submit" class="btn" id="get-articles">Get New Articles</button>
    </form>
</div>

<div class="row">
    {{#each data}}
    <div class="col s12 m6 ">
        <div class="card medium ">
            <div class="card-image">
                <img src={{pic}} >
                <a href={{href}} target="_blank">
                    <span class="card-title">{{headline}}</span>
                </a>
            </div>
            <div class="card-content">
                <p>Written by: {{author}}</p>
            </div>
            <div class="card-action">
                
                {{#if saved}}
                    <button type="submit" class="waves-effect waves-light btn disabled" id="save-btn" data-articleid={{_id}}>Saved</button>
                {{else}}
                <form action="/api/save-article/{{_id}}?_method=PUT" method="POST" >
                    <button type="submit" class="waves-effect waves-light btn" id="save-btn" data-articleid={{_id}}>Save Article</button>
                </form>
                {{/if}}
                <a href={{href}} target="_blank" class="view-article">View Article</a>
            </div>
        </div>
    </div>
    {{/each}}
</div>