<div class="row">    
    {{#if data}}
        {{#each data}}
           <div class="col s12 m6">
                <div class="card medium" id={{storyID}}>
                    <div class="card-image">
                        <img src={{pic}} >
                        <a href="{{href}}">
                            <span class="card-title">{{headline}}</span>
                        </a>
                    </div>
                    <div class="card-content">
                        <p>{{summary}}</p>
                    </div>
                    <div class="card-action">
                        <a href="/notes" class="waves-effect waves-light btn">Notes</a>
                        <a href={{href}} target="_blank">View Article</a>
                        <form action="/api/delete/{{_id}}?_method=DELETE" method="POST" class="right">
                            <button type="submit" class="delete-article ">Delete</button>
                        </form>
                        
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h2 class="center">It looks like nothing is here :(</h2>
        <h3 class="center">Click <a href="/">Here</a> to find articles to save</h3>
    {{/if}}
</div>